<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alok Kaushik</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/109abcc199.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../CSS/styles.css" />
  </head>
  <body>
    <header>
      <h2 class="header-heading">
        <a href="../index.html">Alok Kaushik</a> <span class="career"></span>
      </h2>
      <nav>
        <div class="navigation-container">
          <ul class="navigation">
            <li class="nav-link"><a href="Resume.html">Resume</a></li>
            <li class="nav-link"><a href="Projects.html">Projects</a></li>
            <li class="nav-link"><a href="#">Contacts</a></li>
            <i class="fa-solid fa-xmark nav-icon"></i>
          </ul>
        </div>
      </nav>
      <i class="fa-solid fa-bars menu-icon"></i>
    </header>
    <section class="contacts">
      <div class="contact-info">
        <h2 class="contact-info-heading">Contact <span>me</span></h2>
        <!-- <p class="contact-info-description">Looking forward to hearing from you</p> -->
        <ul class="contact-list">
          <li class="contact-item">
            <i class="fa-solid fa-location-dot"></i>
            Samastipur, India 848134
          </li>
          <li class="contact-item">
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+9304106142"></a>9304106142</a>
          </li>
          <li class="contact-item">
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:alokkaushik5953@gmail.com">alokkaushik5953@gmail.com</a>
          </li>
        </ul>
      </div>
      <form action="http://127.0.0.1:5500/Components/Contacts.html" class="contact-form" method="post" id="form">
        <div class="row-container">
          <div class="name-con">
            <input type="text" class="input-field" placeholder="Your full name" required>
          </div>
          <div class="name-con">
            <input type="email" class="input-field" placeholder="Your Email Address" required>
          </div>
        </div>
        <div class="row-container">
          <div class="name-con">
            <input type="number" class="input-field" placeholder="Phone-Number">
          </div>
          <div class="name-con">
            <input type="text" class="input-field" placeholder="Subject">
          </div>
        </div>
        <div>
          <textarea draggable="false" id="" cols="51" rows="5" placeholder="your Message ..." class="input-field" textarea></textarea>
        </div>

        <button type="submit" class="btn-contacts">Submit</button>
      </form>
    </section>
    <footer>
      <div class="footer-wrapper">
        <h3 class="footer-heading">Phone</h3>
        <a href="tel:+9304106142">+ 930 410 6142</a>
      </div>
      <div class="footer-wrapper" >
        <h3 class="footer-heading">Email</h3>
        <a href="mailto:alokkaushik5953@gmail.com">alokkaushik5953@gmail.com</a>
      
      </div>
      <div >
        <h3 class="footer-heading">Follow me on</h3>
        <div class="social-container">
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>
      <div class="footer-info ">
        <p>copyright &copy; 2023 by Alok Kaushik</p>
        <p>All rights reserved</p>
      </div>
    </footer>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="../JavaScript/script.js"></script>
  </body>
</html>
