<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alok Kaushik</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/109abcc199.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../CSS/styles.css" />
  </head>
  <body>
    <header>
      <h2 class="header-heading">
        <a href="../index.html">Alok Kaushik</a> <span class="career"></span>
      </h2>
      <nav>
        <div class="navigation-container">
          <ul class="navigation">
            <li class="nav-link"><a href="#">Resume</a></li>
            <li class="nav-link"><a href="Projects.html">Projects</a></li>
            <li class="nav-link"><a href="Contacts.html">Contacts</a></li>
            <i class="fa-solid fa-xmark nav-icon"></i>
          </ul>
        </div>
      </nav>
      <i class="fa-solid fa-bars menu-icon"></i>
    </header>
    <section class="resume">
      <h2 class="resume-heading">Resume</h2>
      <div class="resume-container">
        <h3 class="resume-container-heading">Work experience</h3>
        <div class="content-wrapper">
          <div class="resume-container-content">
            <p class="timeline">Mar 2023 - Nov 2023</p>
            <div class="content-info">
              <h2 class="content-info-heading">Software Engineer</h2>
              <h3 class="company">SubcoDEvs inc</h3>
              <ul class="experience">
                <li class="experience-item">
                  Evaluated project requirements, identified challenges and
                  proposed alternatives using research and data
                </li>
                <li class="experience-item">
                  Wrote and developed new and well-tested code for different
                  software projects
                </li>
                <li class="experience-item">
                  Integrated third-party applications into existing software,
                  enhancing features and performance
                </li>
                <li class="experience-item">
                  Aligned projects with requirements and specifications to
                  deliver abovebenchmark results
                </li>
              </ul>
            </div>
          </div>
          <div class="resume-container-content">
            <p class="timeline">2020-2022</p>
            <div class="content-info">
              <h2 class="content-info-heading">
                Software Development Engineer
              </h2>
              <h3 class="company">Reimagine Labs | Patna, India</h3>
              <ul class="experience">
                <li class="experience-item">
                  Worked on various REST API requirements for the website and
                  mobile App
                </li>
                <li class="experience-item">
                  Worked on AWS S3 bucket, AWS SES, AWS pinpoint targeted
                  communication channels for mail service, push notification,
                  whatsapp integration using meta whatsapp api
                </li>
                <li class="experience-item">
                  API and AWS lambda functions, Socket.Io
                </li>
                <li class="experience-item">
                  Worked on socket-io for chat app integration
                </li>
                <li class="experience-item">
                  Worked on AWS s3 bucket for file storage and management
                </li>
                <li class="experience-item">
                  Worked on AWS pinpoint for automated and scheduled mail and
                  push notifications using AWSSES
                </li>
                <li class="experience-item">
                  Tech Stack: ReactJs, Nodejs, express, mongodb, Redux, mysql,
                  AWS, socket-io , docker
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="resume-container">
        <h3 class="resume-container-heading">Skills</h3>
        <div class="content-wrapper">
          <div class="resume-container-content">
            <p class="timeline">Web development</p>
            <div class="content-info">
              <h2 class="content-info-heading">Web developement frameworks</h2>

              <ul class="experience">
                <li class="experience-item">Html</li>
                <li class="experience-item">Css</li>
                <li class="experience-item">JavScript</li>
                <li class="experience-item">React.js</li>
                <li class="experience-item">Tailwind Css</li>
                <li class="experience-item">Node.js</li>
                <li class="experience-item">Express.js</li>
              </ul>
            </div>
          </div>
          <div class="resume-container-content">
            <p class="timeline">Database and server</p>
            <div class="content-info">
              <h2 class="content-info-heading">Database skills in:</h2>

              <ul class="experience">
                <li class="experience-item">Mongodb</li>
                <li class="experience-item">Mysql</li>
                <li class="experience-item">Redis</li>
              </ul>
            </div>
          </div>
          <div class="resume-container-content">
            <p class="timeline">Cloud Services</p>
            <div class="content-info">
              <h2 class="content-info-heading">cloud skills in:</h2>

              <ul class="experience">
                <li class="experience-item">Amazon Web Services(AWS)</li>
                <li class="experience-item">AWS pinpoint</li>
                <li class="experience-item">Amazon EC2</li>
              </ul>
            </div>
          </div>

          <div class="resume-container-content">
            <p class="timeline">MicroServices</p>
            <div class="content-info">
              <h2 class="content-info-heading">
                Microservices and Containerization
              </h2>

              <ul class="experience">
                <li class="experience-item">Microservices</li>
                <li class="experience-item">Dockers</li>
              </ul>
            </div>
          </div>

          <div class="resume-container-content">
            <p class="timeline">System Design</p>
            <div class="content-info">
              <h2 class="content-info-heading">system design and algorithm</h2>

              <ul class="experience">
                <li class="experience-item">
                  Data Structures and Algorithms (DSA)
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="resume-container">
        <h3 class="resume-container-heading">Education</h3>
        <div class="content-wrapper">
          <div class="resume-container-content">
            <p class="timeline">2018-2021</p>
            <div class="content-info">
              <h2 class="content-info-heading">Software Engineer</h2>
              <h3 class="company">Kalinga University</h3>
              <ul class="experience">
                <li class="experience-item">Naya Raipur, CT</li>
                <li class="experience-item">B.Tech: Computer Science 2021</li>
                <li class="experience-item">GPA: 7.9/10.0</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-wrapper">
        <h3 class="footer-heading">Phone</h3>
        <a href="tel:+9304106142">+ 930 410 6142</a>
      </div>
      <div class="footer-wrapper">
        <h3 class="footer-heading">Email</h3>
        <a href="mailto:alokkaushik5953@gmail.com">alokkaushik5953@gmail.com</a>
      </div>
      <div>
        <h3 class="footer-heading">Follow me on</h3>
        <div class="social-container">
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>
      <div class="footer-info">
        <p>copyright &copy; 2023 by Alok Kaushik</p>
        <p>All rights reserved</p>
      </div>
    </footer>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="../JavaScript/script.js"></script>
  </body>
</html>
